body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;

}

button:hover {
    background-color: #45a049;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card h4 {
    margin-top: 0;
}

.card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.card a {
    text-decoration: none;
    color: #337ab7;
}

.card a:hover {
    color: #23527c;
}
  