body {
    color: #333;
    text-align: center;
    background-image: url('images/image.png'); 
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
}

body, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.container {
    width: 30%;
    margin: 20px auto;
    background: linear-gradient(135deg, #004556, #B8D9DF);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    width: 100%; 
    text-align: center; 
}

.logo {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

input, textarea {
    width: 98%;
    padding: 12px;
    border: 1px solid #9dafa1;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: #588e89;
    outline: none;
    box-shadow: 0px 0px 5px rgba(110, 142, 251, 0.5);
}

.priority {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.task-board {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: darkslategrey;
}

.task-column {
    flex: 1;
    min-width: 250px;
}

.task-card {
    background: #ffffff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s ease-in-out;
    color: #192f37;
}

.task-card:hover {
    transform: translateY(-3px);
}

.task-card.completed {
    background: darkseagreen;
}

button {
    background: linear-gradient(135deg, #004556, #4897A8);
    color: #F0F8FF;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(135deg, #5a75f1, #945de1);
    background: #0d7f83;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.button-container {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#add-task {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    width: 240px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .button-container {
        justify-content: center; 
    }

    #add-task {
        width: 200px;  
        font-size: 14px;
    }
}
